
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-area="Staff" asp-action="Login">
        Email :<input type="email" name="Email" />
        Pass :<input type="password" name="Password" />
        <button type="submit">Login</button>
    </form>